<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<style>
    .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

</style>
<body>
    <p>Aman Jaiswal</p>
    <p>amanjaiswal0777@gmail.com</p>
    <p>address: Jaitpur,Badarpur New Delhi-110044</p>
    <a href="https://www.instagram.com/aman_jaiswal0777/" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-facebook"></a>
</body>
</html>